body {
  font-family: sans-serif;
  padding: 10px;
  margin: 0 auto;
  max-width: 600px;
}

#header {
  margin-bottom: 40px;
}

#main {
  margin: 0 auto;
  max-width: 400px;
}

.label {
  color: #555;
  font-size: 80%;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

#patternNav {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat( 5, 1fr );
  margin-bottom: 40px;
  text-align: center;
}

#patternNav a {
  background: #ddd;
  border: 5px solid #ccc;
  border-radius: 50%;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  height: 2em;
  font-size: 150%;
  font-weight: bold;
  line-height: 38px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  text-align: center;
  width: 2em;
}

#patternNav a:hover {
  background: #ccc;
  border-color: #bbb;
}

#patternNav a.selected {
  background-color: #ccc;
  color: #555;
}

#string-labels {
  display: grid;
  grid-template-columns: repeat( 6, 1fr );
  margin-bottom: 5px;
}

  #string-labels * {
    color: #999;
    font-size: 150%;
    font-weight: bold;
    text-align: center;
  }

#fretboard {
  border: 2px solid black;
  border-top-width: 10px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat( 6, 1fr );
}

  .fret {
    border-bottom: 5px solid #ccc;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat( 6, 1fr );
  }

  .fret:last-child {
    border-bottom: 0;
  }

  .stringBox {
    margin-bottom: -5px;
    position: relative;
  }

  .fret:last-child .stringBox {
    margin-bottom: 0;
  }

    .circle-container {
      display: flex;
      height: calc( 100% - 5px );
      position: absolute;
      width: 100%;
    }

      .circle {
        align-self: center;
        background-color: #ddd;
        border: 5px solid black;
        border-radius: 50%;
        box-sizing: border-box;
        margin: 0 auto;
        width: 75%;
        z-index: 10;
      }

      .root {
        background-color: black;
      }

      .circle:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }

      .root .R {
        color: white;
        display: grid;
        font-size: 150%;
        font-weight: bold;
        position: absolute;
          left: 0;
          top: 50%;
        text-align: center;
        transform: translateY(-50%);
        width: 100%;
      }

    .string {
      background-color: black;
      height: 100%;
      position: absolute;
        left: 50%;
    }

    .E .string {
      margin-left: -3.5px;
      width: 7px;
    }

    .A .string {
      margin-left: -3px;
      width: 6px;
    }

    .D .string {
      margin-left: -2.5px;
      width: 5px;
    }

    .G .string {
      margin-left: -2px;
      width: 4px;
    }

    .B .string {
      margin-left: -1.5px;
      width: 3px;
    }

    .e .string {
      margin-left: -1px;
      width: 2px;
    }
